asgiref==3.9.1
attrs==25.3.0
colorama==0.4.6
coverage==7.10.1
dj-database-url==3.0.1
Django==5.2.4
django-cors-headers==4.7.0
django_filter==25.1
django-unfold==0.59.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.28.0
factory_boy==3.3.3
Faker==37.5.3
gunicorn==23.0.0
inflection==0.5.1
iniconfig==2.1.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
packaging==25.0
pendulum==3.1.0
pillow==11.3.0
pluggy==1.6.0
psycopg2-binary
Pygments==2.19.2
PyJWT==2.10.1
pytest==8.4.1
pytest-cov==6.2.1
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.26.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.2.0
openpyxl==3.1.5
